.root {position: relative; overflow: hidden;}
.root ::-webkit-scrollbar {width: 5px; height: 5px;}
.root ::-webkit-scrollbar-thumb {background-color: #aaa; border-radius: 5px;}
.root ::-webkit-scrollbar-track {background-color: #ddd; border-radius: 5px;}
.hid {display: none;}

.loading {width: 100vw; height: 100vh; position: relative;}
.loading i {position: absolute; transform: translate(-50%, -50%);top: 20%;left: 45%;z-index: 10; font-size: 5rem; animation: rotate 2s linear infinite; -webkit-user-drag: none;}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
  }
/*.container {position: relative; margin: 0 auto; width: 100%; max-width: 60rem;} 템플릿1 */
.container {position: relative; margin: 0 auto; width: 100%; max-width: 70rem;}/* 템플릿2 */
.container:after {clear: both; display: block; content: "";}

/* media query mobile */
@media screen and (min-width: 1401px){

}
@media screen and (min-width: 1241px) and (max-width: 1400px){

}
@media screen and (min-width: 1241px){
	
}


@media screen and (max-width: 1440px){
	
}

@media screen and (max-width: 1280px){   
  
}

@media screen and (max-width: 1240px){ 
	.container { padding:0 1rem;}
}

@media (max-width: 768px) {

}
@media (max-width: 380px) {
.loading i {transform: translate(-50%, -50%);top: 50%;left: 50%;z-index: 10; font-size: 4rem;}
}
@media (max-width: 380px) {

}
