.logo {max-width: 30px; display: inline-block; margin-right: .25rem; color: rgb(8 126 164);}
.codePack * {font-family: 'Pretendard!important'; font-weight: 500;}

.area {font-size: 1rem; color: #000; padding: 2rem 1rem;}
.area h3 {font-size: 1.5rem; font-weight: 700; }
.area h4 {font-size: 1.2rem; font-weight: 500;}
.area h4 a{cursor: pointer;}
.area h4 a:hover {transition: .35s all; text-decoration: underline;}
.area h5 {font-size: 1rem; font-weight: 400;}
.area h3 + * {margin-top: .5rem;}
.area h3 + .button_wrap {margin-top: 0rem;}
.area h4 + * {margin-top: .5rem;}
.area h5 + * {margin-top: .5rem;}
.area ul > li {list-style-type:decimal; margin-left: 1rem; word-break: auto-pharas;}
.area ul > li p {word-break: keep-all; line-height: 1.8;}
.area li + li {margin-top: .25rem;}
.area ul > li > ul > li {list-style-type:disc;}

.imgBox {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 1rem; gap: 2rem;}
.imgBox p{flex:1 0 40%; text-align: center;}
.imgBox p.w100 {flex:1 0 100%;}
.imgBox p span{width:100%; display: block; font-size: .8rem;}
.imgBox p img{max-width: 100%;}

.tit_wrap {display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between;}

.header_wrap {position: absolute; max-width: 1400px; width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-wrap: wrap; gap: 1rem; margin: 0 auto; margin-bottom: .5rem; padding: .5rem; z-index: 1;}
.button {position: relative; display: flex; align-items: center; font-family:'SCDream'; font-weight: 500; color: #111; font-size: 1rem;}
.button:hover {transition: .35s all; text-decoration: underline;}
 
  /* 전체 컨테이너 */
.LiveCode {width:100%;}
  /* 코드 편집기 */
  .LiveEditor {width: 100%;}
  /* 코드 미리보기 */
  .LivePreview {background-color: #ffffff; border: 1px solid #ddd; border-radius: 5px; margin-top: 20px; margin-bottom: 20px; padding: 15px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
  .LivePreview button{display: inline-block;border: 1px solid #111;border-radius: 5px;}
  .LivePreview button + button {margin-left:.5rem}

  @media (max-width:480px) {
  .header_wrap {position: relative; display: flex; justify-content: center;}
  }