.area {font-size: 1rem; color: #000; padding: 2rem 1rem;}
.area h3 {font-size: 1.5rem; font-weight: 700; }
.area h4 {font-size: 1.2rem; font-weight: 500;}
.area h5 {font-size: 1rem; font-weight: 400;}
.area h3 + * {margin-top: .5rem;}
.area h4 + * {margin-top: .5rem;}
.area h5 + * {margin-top: .5rem;}
.area ul > li {list-style-type:decimal; margin-left: 1rem; word-break: auto-pharas;}
.area ul > li p {word-break: keep-all;}
.area li + li {margin-top: .25rem;}
.area ul > li > ul > li {list-style-type:disc;}

.imgBox {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 1rem; gap: 2rem;}
.imgBox p{flex:1 0 40%; text-align: center;}
.imgBox p.w100 {flex:1 0 100%;}
.imgBox p span{width:100%; display: block; font-size: .8rem;}
.imgBox p img{max-width: 100%;}
